@page
@model MVD_CRL.Pages.ranks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Звания[0].Наименование)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Звания[0].Надбавка)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Звания[0].Обязанности)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Звания[0].Требования)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Звания) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Наименование)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Надбавка)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Обязанности)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Требования)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.КодЗвания">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.КодЗвания">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.КодЗвания">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
